{# templates/admin/pregunta/create.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Editar Pregunta{% endblock %}

{% block body %}

        {% if app.user and 'ROLE_ADMIN' in app.user.roles %}

            <div class="mb-3">
                <a href="{{ path('admin_preguntas_list') }}" class="btn btn-primary">Ver preguntas</a>
            </div>

        {% endif %}


    <h1>Crear nueva pregunta</h1>

    {{ form_start(form) }}
        {{ form_row(form.enunciado) }}
        {{ form_row(form.fecha_inicio) }}
        {{ form_row(form.fecha_fin) }}
        {{ form_row(form.respuesta1) }}
        {{ form_row(form.respuesta2) }}
        {{ form_row(form.respuesta3) }}
        {{ form_row(form.respuesta4) }}
        {{ form_row(form.respuesta_correcta) }}

        <button type="submit">Editar pregunta</button>
    {{ form_end(form) }}
{% endblock %}
